/* $Id: style.css,v 1.7 2006/08/31 07:28:14 dries Exp $ */

/*
** HTML elements
*/
body {
  background: #000000;
  font-family: arial, helvetica, sans-serif;
}

p{
	text-align: center;
	color:yellow;
}

h1 {
	text-align: center;
	color:yellow;
}

h2{
	text-align: center;
	color:yellow;
}
p1{
	color: green;
	text-align: center;
}

img {
    display: block;
    margin: auto;
}

table{
	color: yellow;
}
/*
p<h2{
	text-align:center;
	color:white;
}
*/
