/* $Id: style.css,v 1.7 2006/08/31 07:28:14 dries Exp $ */

/*
** HTML elements
*/
body {
  background: #000000;
  font-family: arial, helvetica, sans-serif;
}

p{
	alignment:center;
	color:yellow;
}

h1 {
	alignment:center;
	color:yellow;
}

h2{
	alignment:center;
	color:yellow;
}
